# .NET
bin/
obj/
*.user
*.suo
*.cache
.vs/
publish/
TestResults/

# Node.js / Angular
node_modules/
dist/
.angular/

# Environment
.env
*.env.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Debug and temp files
*error.txt
mongo_uris.txt
